
@font-face {
    font-family: 'nima_linebold';
    src: url('/fonts/nimaline-bold-webfont.woff2') format('woff2'),
         url('/fonts/nimaline-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3{
    font-family: 'nima_linebold';
}