footer{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3));
    margin-top: 50px;
    height: 20vh;
}
.social-container{
    height: 20px;
    background: linear-gradient(90deg, #FF0091, #0072FF);
}