body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #4D4D4D;
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
}

html {
    min-height: 100vh;
}

.nav-link {
    color:#4D4D4D;
}

.nav-link:hover {
    color:#0072FF;
}

.colorGradient{
    background: -webkit-linear-gradient(45deg,#F62584,#0072FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.provaCustom{
    position: absolute;
    right: 10px;
    top:20%;
    cursor: pointer;
}

.form-controller{
    border-radius: 0.25rem !important;
}
.input-groupCustom{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.border-custom{
    
    border-radius: 110px; /*1*/
    border: 10px solid transparent; /*2*/
    border-color: #0072FF;
    padding: 5px;
    color: #0072FF;
   
}

.no_decoration{
    text-decoration: none;

}

